<!DOCTYPE html>
<html>

<head>
    <title>CST 438 - Project 1</title>
    <style>
        body {
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            text-align: center;
        }
        
        #box {
            border: 1px solid black;
            background-color: white;
        }
    </style>
</head>

<body>
    <div id="box">
        <!--<p>Getty Length</p>-->
        <!--{{ gettyLength }}-->
        <!--<img src={{ getty }}>-->
        <!--{{ getty }}-->
        <!--<hr>-->

        <h1>Twitter</h1>
        <p>Tweet Count Total</p>
        
        {{ tweetCount }}
        <br>
        {{ i }}        
        <br>
        {{ tId }}
        <br>
        {{ twitterUser }}
        <!--<br> -->
        <!--<p>Current Tweet</p>-->
        <!--{{ j }}-->
        <!--<hr> {{ tweets }}-->
        <!--<br>-->
        <!--<a href={{ twitterUrl }}{{ urlId }}>Link</a>-->
        <!--<br> {{ twitterUser }}-->
    </div>
</body>

</html>
